#root {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div#root {
  top: 50px;
  position: absolute;
  left: 25%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav a {
  height: 27px;
  line-height: 35px;
}

button#basic-button {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  font-family: var(--bs-body-font-family);
}

button#basic-button:hover {
  color: #ccc;
  font-weight: 700;
  font-size: 16px;
  font-family: var(--bs-body-font-family);
}

.projects button#basic-button {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  background-color: #000;
  font-family: var(--bs-body-font-family);
}

.projects button#basic-button:hover {
  color: #ccc;
  font-weight: 700;
  font-size: 16px;
  font-family: var(--bs-body-font-family);
}

section button {
  background: #000;
  width: 200px;
  margin: 0 auto;
  box-shadow: 3px 5px 10px #000;
  border-radius: 20px;
  height: 50px;
}
h2.conteo-clicks {
  font-size: 10rem;
}
app button {
  background: #000;
  width: 200px;
  margin: 0 auto;
  box-shadow: 3px 5px 10px #000;
  border-radius: 20px;
  height: 50px;
}
/*** Dark Theme ***/
.base-button {
  background: #000;
  width: 200px;
  margin: 0 auto;
  box-shadow: 3px 5px 10px #000;
  border-radius: 20px;
  height: 50px;
}
.dark-theme .base-button {
  background: #fff;
  width: 200px;
  margin: 0 auto;
  box-shadow: 3px 5px 10px #000;
  border-radius: 20px;
  height: 50px;
  color: #000;
}
.dark-theme {
  --bg-color: #121212;
  background: #000;
  --text-color: #ffffff;
  --link-color: #bb86fc;
  --button-bg-color: #1f1f1f;
  --button-text-color: #ffffff;
  --button-border-color: #bb86fc;
}
body.dark-theme {
  background-color: var(--bg-color);
  background: #000;
  color: var(--text-color);
}
body.dark-theme a {
  color: var(--link-color);
}

/* Navbar styling */
nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

/*** TO DO ***/
.add-todo {
  margin-bottom: 20px;
}
.todo-list {
  list-style-type: none;
  padding: 0;
  max-width: 400px;
}
input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.add-button {
  background-color: #000;
  transition: background-color 0.5s, color 0.3s;
}
.add-button:hover {
  background-color: #555;
  color: white;
}
.delete-button {
  background-color: #ff0707;
  line-height: 5px;
  margin: 10px;
  width: 170px;
}
.delete-button:hover {
  background-color: #ff07076c;
  color: white;
}

.moveup-button {
  background-color: #ccc;
  width: 90px;
  line-height: 0px;
  padding: 10px 20px;
  margin-left: 10px;
}
.moveup-button:hover {
  background-color: #555;
  color: white;
}
.movedown-button {
  background-color: #ccc;
  width: 90px;
  line-height: 0px;
  padding: 10px 20px;
  margin: 10px;
}
.movedown-button:hover {
  background-color: #555;
  color: white;
}
ul {
  padding: 0;
}
ul.todo-list li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border: 3px solid #ccc;
  display: flex;
  align-items: center;
  min-width: min-content;
  width: 1200px;
}
ul.todo-list li:nth-child(odd) {
  background-color: #e0e0e0;
}
.text {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  text-align: left;
  margin-left: 10px;
}

/* Live Search*/
ul.livesearch-results {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  font-size: 10.5rem;
}
